<!-- Under Construction Template -->
<div class="construction-container z-10">
    <i class="fas fa-tools construction-icon"></i>
    <h2 class="construction-title">正在施工中...</h2>
    <p class="construction-message">
        此功能正在开发中，敬请期待！我们正在努力为您打造更好的体验。
        <br>感谢您的耐心等待。
    </p>
    <div class="construction-footer">
        <p>预计完成时间：近期</p>
    </div>
    <i class="fas fa-pencil-ruler construction-decoration decoration-1"></i>
    <i class="fas fa-paint-brush construction-decoration decoration-2"></i>
</div>
